.container {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}

.container--active {
	padding-bottom: 73px; /* For Navigation */
}

.container--quiz {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.container__wrapper {
	overflow: auto;
}
